

html {
    scroll-behavior:smooth;   
}

* {
    margin: 0px;
    padding: 0px;
  
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}
body {
  background-color: #FFF;
    width: 100%;
     /* Adicione esta linha para permitir a rolagem vertical quando necessário */
    overflow-x: hidden;
    }

    .carousel-inner > .carousel-item > img {
     height: 700px; 
    }

        .imagem2 {
            position: relative;
            width: 150px;
            height: 150px;
            z-index: 1;
        }

        .btn-copiar {
          display: inline;
          margin-top: 20px;
        }

        .btn-pulsante {
          animation: pulse 2s infinite;
      }

      @keyframes pulse {
          0% {
              transform: scale(1);
              opacity: 1;
          }
          50% {
              transform: scale(1.1);
              opacity: 0.7;
          }
          100% {
              transform: scale(1);
              opacity: 1;
          }
        }

        .social-icons {
            margin-top: 20px;
        }

        .social-icons a {
            margin: 0 10px;
            color: #fff;
            font-size: 24px;
        }

        .social-icons a.instagram:hover {
            color: #C13584;
        }

        .social-icons a.whatsapp:hover {
            color: #25D366;
        }

        .card-img-top {
            width: 100%;
            /* Faz com que a imagem ocupe 100% da largura do card */
            height: 200px;
            /* Define uma altura fixa para todas as imagens */
            object-fit: cover;
            /* Garante que a imagem cubra o espaço disponível sem distorcê-la */
        }

        .card-body {
            font-family: Arial, sans-serif;
        }


        #carouselExampleSlidesOnly{
            background-size: cover;
            /* Ajusta a imagem para cobrir toda a área do corpo */
            background-position: center;
            flex: 1;
            /* Permite que o container cresça e ocupe o espaço disponível, empurrando o rodapé para baixo */
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('img/IMG-20240302-WA0031.jpg');
       
        }

        .quem{
          margin-top: 40px ;
          font-size: 40px; 
          margin: 2px;
        }

        .cards-doe{
          margin-top: 30px ;
          font-size: 30px;
        }

        .flip-card {
            background-color: transparent;
            width: 90%; 
            margin: 5px;
            height: 425px;
            perspective: 1000px;
          }

          .flip-card-front img{
          
            width: 100%;
          }

          .flip-card-back img{
            margin: 5px;
          }
     
          
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }
          
          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }
          
          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
          
          .flip-card-front {
            background-color: gainsboro;
            color: black;
          }
          
          .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
          }
          
          .valor {
            font-size: 20px;
          }

          .pix {
            margin: 15px;
          }  
          
        .especialidades.box {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin: 10px;
            height: 400px;
            text-align: center;
          }
          
          .especialidades.box i {
            font-size: 2em;
            margin-bottom: 10px;
          }

          .interface img {
         
            border-radius: 10px;
        }
          
          /* Adicione estilos específicos para tamanhos de tela menores (móveis) */
          @media only screen and (max-width: 768px) {
            .especialidades.box {
              width: 100%;
            }
          }
        
          
          @media (max-width: 800px) {
            .flip-card {
              width: 100%;
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }

/*estilizando banner principal*/


.topo-do-site .txt-topo-site h1 {
  font-size: 60px;
  color: #ff2500;
  font-weight: bold; /* ou outras propriedades de estilo para destaque desejado */
  align-items: center;
  margin-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif
 
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  font-size: 50px;
  gap: 90px;
  background-image: url(../_img/quebrada.jpeg);
  background-repeat: no-repeat;
  opacity: 0.9;
  background-size: cover;
  z-index: -17;
    
}
@media (max-width: 768px) {
  section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    font-size: calc(1.5rem + 1vw); /* Adjust font size based on viewport width */
    gap: 50px;
    background-image: url(../_img/quebrada.jpeg);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    z-index: -17;
  }
}
.topo-do-site .txt-topo-site h1 {
  color: #000000;
  font-size: 50px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site p {
  font-size: 20px;
  margin: 150px auto;
}

.topo-do-site .img-topo-site {
  text-align: center;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h1 img.foto-h1 {
  display: block;
  margin: 0 auto;
  animation: flutuar 2s ease-in-out infinite alternate ;
  width: 200px; /* ajuste o tamanho da imagem */
  margin-bottom: 20px; /* ajuste o espaçamento entre a imagem e o parágrafo */
}

/* Media query para telas menores (ajuste o breakpoint conforme necessário) */
@media (max-width: 768px) {
  .topo-do-site .txt-topo-site h1 {
    font-size: 30px;
  }

  .topo-do-site .txt-topo-site p {
    margin: 50px auto;
  }

  .topo-do-site .img-topo-site img {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  
  .carousel-inner > .carousel-item > img {
    height: 500px; 
   }
   
  .quem {
    font-size: 30px;
  }

}


